<DOCTYPE html>
<html ng-app="clone">
<head>
  <title>clone</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body ng-controller='cloneController'>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Rocky Mountain High</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-click="sort = '-votes'"><a href="#">Votes</a></li>
              <li ng-click="sort = 'date'"><a href="#">Date</a></li>
              <li ng-click="sort = 'panelTitle'"><a href="#">Title</a></li>
            </ul>
          </li>
        </ul>
        <button class="clear" type="submit" ng-click="addPost=!addPost" ng-show='!addPost'>Add A Post</button>
        <button class="clear" type="submit" ng-click="addPost=!addPost" ng-show='addPost'>Hide Form</button>
      </div>
    </div>
  </nav>
  <div id="formThing" class="container" ng-show="addPost">
    <div class="row row-centered">
      <div class="col-xs-12 col-centered">
        <div class="item">
          <div class="content">
            <form name='form' novalidate>
              <div class="form-group">
                <h3>Submit Post</h3>
                <input class="form-control" ng-model='post.panelTitle' placeholder="Title" required>
              </div>
              <div class="form-group">
                <input class="form-control" ng-model='post.panelAuthor' placeholder="Author" required>
              </div>
              <div class="form-group">
                <input class="form-control" ng-model='post.panelImage' placeholder="Image URL" required>
              </div>
              <div class="form-group">
                <input class="form-control" ng-model='post.panelDescription' placeholder="Description" required>
              </div>

              <div class="form-group">
                <button type="submit" class="btn" ng-click='panel(panelTitle, panelAuthor, panelImage, panelDescription)' ng-disabled='form.$invalid'>
                  Submit Post
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="panelThing" class="container">
    <div class="row row-centered">
      <div  class="col-xs-12 col-centered" ng-repeat='panel in panels | orderBy : sort | filter : search'>
        <div class="item">
          <div class="content">
            <div class='row card'>
              <div class='col-md-3'>
                <img class=thumb ng-src="{{panel.panelImage}}">
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-6">
                    <p id="titleData"><strong>{{panel.panelTitle}}</strong></p>
                    <i ng-click='subtractVote(panel)' class='glyphicon glyphicon-arrow-down btn'></i> 
                    <i ng-click='addVote(panel)' class='glyphicon glyphicon-arrow-up btn'></i> 
                    <span class='votes' ng-class='{positive: panel.votes > 0, negative: panel.votes < 0 }'>{{panel.votes}}</span>
                  </div>
                  <div class="col-md-6">
                    <p id="authorData" class='pull-right'>By: {{panel.panelAuthor}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p id="descriptionData">{{panel.panelDescription}}</p> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <span><i class="glyphicon glyphicon-calendar"></i> {{panel.date | date:"medium" }}</span>
                      
                    <button  type="submit" class="clearBlack " ng-click="addComment=!addComment" ng-show='!addComment' ><i class="glyphicon glyphicon-pencil"></i>Add Comment</button>
                    <button  type="submit" class="clearBlack " ng-click="addComment=!addComment" ng-show='addComment' >Hide Comment Form</button>

                    <button id='showComments' class="clearBlack" ng-model='myComment' ng-click="showComments=!showComments; panel.commentCount+1 " ng-show='!showComments'><i class="glyphicon glyphicon-comment"></i> <ng-pluralize count="panel.comments.length"
                                when="{ '1': '{{panel.comments.length}} comment', 
                                        'other':'{{panel.comments.length}} comments'}">
                      </ng-pluralize></button>
                    <button id='hideComments' class="clearBlack" ng-model='myComment' ng-click="showComments=!showComments; panel.commentCount+1 " ng-show='showComments'>Hide Comments</button>
                    <div class="col-xs-10 col-centered" ng-show='showComments' ng-repeat='comment in panel.comments'>{{comment.author}} says {{comment.text}}
                    </div>
                  </div>
                </div>  
              </div>      
            </div>
          </div>
          <div id="formComment" ng-show="addComment">
            <h3>Add Comment Below</h3>
            <div class="row row-centered">
              <form name='formComment' novalidate ng-show='addComment'>
                <div class="form-group">
                  <input class="form-control" ng-model='newComment.author' placeholder="author" required>
                </div>
                <div class="form-group"> 
                  <input class="form-control" ng-model='newComment.text' placeholder="text" required>
                </div>
                <div class="form-group"> 
                  <button id="submitComment"type="submit" class="btn btn primary" ng-click='addComment=!addComment; submitComment(); commentCount=commentCount+1' ng-disabled='formComment.$invalid' >
                      Submit Comment</button>
                </div>
              </form>     
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <!-- load momentJS (required for angular-moment) -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <!-- load angular-moment -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
  <script type="text/javascript" src="app.js"></script> 


</body>
</html>


