<DOCTYPE html>
<html ng-app="clone">

<head>
  <title>clone</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script> 
  <script type="text/javascript"></script>
</head>
<body ng-controller='cloneController'>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Clone</a>
    </div>

    <button type="submit" class="btn btn-default"  ng-click="addPost=!addPost" ng-show='!addPost'>Add A Post</button>
    <button type="submit" class="btn btn-default"  ng-click="addPost=!addPost" ng-show='addPost'>Hide Form</button>


    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input ng-model='search' type="text" class="form-control" placeholder="Search">
      </div>
  
      <span>Sort By</span>
       <select ng-model='organizeBy' ng-init="organizeBy = 'panelTitle' ">
         <option value='-votes'>votes</option>
         <option value='-date'>date</option>
         <option value='panelTitle'>title</option>
       </select>
    </form>

<!--     <h1>Camera Shop</h1>
    <select ng-model="organizeBy" ng-init="organizeBy = '-price' ">
    <option value='-rating'>Rating</option>
    <option value='-price'>Price</option>
    </select>
    <div ng-repeat="item in data | orderBy: organizeBy">
      <img ng-src="{{item.image}}">
      <h1>{{item.title}}</h1>
      <h2 ng-class="item.onSale===true ?'sale': 'offSale' ">{{item.price | currency}}
        <span ng-show="item.onSale===true">ON SALE!!</span>
      </h2>
      <h3>{{item.rating}}</h3>
    </div> -->


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="formThing" class="container" ng-show="addPost">
<div class="row row-centered">
  
<div class="col-xs-10 col-centered"><div class="item"><div class="content">
<h2>Submit Post</h2>
  <form name='form' novalidate>
    <div class="form-group">
      <input class="form-control" ng-model='panelTitle' placeholder="Title" required>
    </div>
    <div class="form-group">
      <input class="form-control" ng-model='panelAuthor' placeholder="Author" required>
    </div>
    <div class="form-group">
      <input class="form-control" ng-model='panelImage' placeholder="Image URL" required>
    </div>
    <div class="form-group">
      <input class="form-control" ng-model='panelDescription' placeholder="Description" required>
    </div>
    <!-- <div ng-model='date'>{{date | date: 'EEEE, MMMM d, y'}}</div> -->
    <div class="form-group">
      <button type="submit" class="btn btn primary" ng-click='panel(panelTitle, panelAuthor, panelImage, panelDescription)' ng-disabled='form.$invalid'>
        Submit Post
      </button>
    </div>
  </form>
 </div>
</div></div></div></div>


<div id="panelThing" class="container" >
 
  <div class="row row-centered">
    <div  class="col-xs-10 col-centered" ng-repeat='panel in panels | orderBy : organizeBy | filter : search'>
      <div class="item">
      <div class="content">

        <i ng-click='subtractVote(panel)' class='glyphicon glyphicon-arrow-down btn'></i> 
        <i ng-click='addVote(panel)' class='glyphicon glyphicon-arrow-up btn'></i> 
        <span class='votes' ng-class='{positive: panel.votes > 0, negative: panel.votes < 0 }'>{{panel.votes}}</span>

       <!--  <h2>Title:</h2> -->
        <p id="titleData">TITLE: {{panel.panelTitle}}</p>
        <!-- <h3>Author:</h3> -->
        <p id="authorData">AUTHOR: {{panel.panelAuthor}}</p>
        <!-- <h3>Image URL:</h3> -->
        <p id="imageData">IMAGE: {{panel.panelImage}}</p>
        <!-- <h3>Description:</h3> -->
        <p id="descriptionData">DESCRIPTION: {{panel.panelDescription}}</p> 
        <div ng-model='date'>{{panel.date | date: 'EEEE, MMMM d, y'}}</div>
        <div ng-model='date'>{{panel.date | date: 'shortTime'}}</div>

  
        
        <button type="submit" class="btn btn-default"  ng-click="addComment=!addComment">Add Comment</button>
<div id="formComment" class="container" ng-show="addComment">
<div class="row row-centered">
        <h2>Add Comment Below</h2>

  <form name='formComment' novalidate>
    <div class="form-group">
      <input class="form-control" ng-model='myCommentAuthor' placeholder="author" required>
    </div>
    <div class="form-group">
      <input class="form-control" ng-model='myCommentText' placeholder="text" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn primary" ng-click='comment(myComment); commentCount=commentCount+1' ng-disabled='formComment.$invalid'>
        Submit Comment
      </button>
    </div>
  </form>     

  </div></div>
  <div>{{commentCount}}
    <ng-pluralize count="commentCount"
                  when="{ '1': 'comment', 
                          'other': 'comments'}">
    </ng-pluralize>
  </div>
  <button ng-model='myComment' ng-click="showComments=!showComments; panel.commentCount+1 " >show Comments</button>
  <button ng-model='myComment' ng-click="showComments=showComments; panel.commentCount+1 " >hide Comments</button>
  <div  class="col-xs-10 col-centered" ng-show='showComments' ng-repeat='comment in comments'>Comments: {{myCommentAuthor}} {{myCommentText}}
  </div>
</div>
  </div>
</div>

</body>
</html>


