body { 
  background: url(https://images.unsplash.com/photo-1422207109431-97544339f995?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=84829b9af541dc3a8bd8b8849895df5a);
  background-size: cover;
}

.item {
  background-color: white;
  padding: 25px;
  margin: 25px;
  border: 1px solid white;
}

span.positive {
  color:green;
}

span.negative {
  color: red;
}

img {
	height: 150px;
	width:150px;
	margin: 20px;
}

#titleData {
	display: inline-block;
}

#voteData {
	display: inline-block;
}

#authorData {
}

#submitComment {
display: inline-block;
}

#showComments {
display: inline-block;
}

#hideComments {
display: inline-block;	
}
/*
.clear {
	color:red;
	background: none;
}*/



