body { 
  background: url(https://images.unsplash.com/photo-1444076095244-6edf09c44c27?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=d8f00c918ac1b13a592bdeb2557ef5dc);
  background-size: cover;
}

.item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 15px;
  border: 1px solid white;
  color: white;
}

span.positive {
  color:green;
}

span.negative {
  color: red;
}

img {
	height: 150px;
	width:150px;
	margin: 5px;
}

#titleData {
	text-align: top;
	display: inline-block;
}

#voteData {
	display: inline-block;
}

#authorData {
	display: inline-block;
}

#submitComment {
display: inline-block;
}

#hideComments {
display: inline-block;	
}

.clear {
	background: none;
	color:white;
	border:none;
	padding:15px;
}

.clearBlack {
	background: none;
	color:white;
	border:none;
	padding:15px;
	font-weight: bold;
}

.form-group {
	padding:15px;
}

